@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  a {
    text-decoration: none;
  }
  .hero {
    width: 100%;
    height: 100vh;
    background: url(img/bg.png);
    background-size: cover;
  }
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
  }
  .logo {
    max-height: 200px;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
  }
  nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
  }
  nav ul li a:hover {
    color: #ad8ef5;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #ad8ef5;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }

  .btn {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 300px;
    display: inline-block;
    font-weight: 200;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #ad8ef5;
    border: 2px solid #ad8ef5;
  }

  .btn:hover {
    background: transparent;
    border-color: #ad8ef5;
    color: #ad8ef5;
  }
body{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1auto;
  background-color: #ebe8fa;
  font-family: Roboto;
}

h1  {
  color: #0a0a0a;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    120deg,
    #53a2e2 20.69%,
    #a382ff 50.19%,
    #e056a7 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*
h1{
  font-size: 20pt;
  font-weight: 500;
  color: #626263;
  padding-top: 50px;
}
*/
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 410px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.item:hover{
  cursor: pointer;
}

.item *{
  transition: all 0.35s ease-in-out;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: 310px;
}

.item:hover img {
  opacity: 0;
}

.text{
  width: 80%;
  height: 90%;
  position: absolute;
  top: -100px;
  left: 10%;
  color: #ad8ef5;
}

.text h3{
  color: black;
}

.item:hover .text{
  top: 20%;
}

.item:hover .button{
  bottom: 20%;
}

.item .button{
  position: absolute;
  bottom: -100px;
  left: 25%;
  width: 50%;
  border: 3px solid #ad8ef5;
  padding: 15px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.button:hover{
  background-color: #ad8ef5;
  color: #F5F5F5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #F5F5F5;
  margin: 5% auto;
  box-sizing: border-box;
  width: 700px;
  max-height: 714px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.scale{
  animation: scale 0.5s;
  animation-fill-mode: forwards;
}

@keyframes scale{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

#img{
  width: 100%;
  height: 450px;
}

#details{
  padding: 25px;
  text-align: left;
  position: relative;
  height: 264px;
  box-sizing: border-box;
  border-top: 1px solid #363638;
}

#details *{
  transition: all .3s;
}

#title{
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#details .button{
  position: absolute;
  width: 30%;
  background-color: #ad8ef5;
  color: #F5F5F5;
  text-align: center;
  left: 25px;
  bottom: 35px;
  padding: 15px;
}

#details i{
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-size: 3rem;
  color: #ad8ef5;
}

#details .button:hover,
i:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 10px;
}

.close:hover,
.close:focus {
  color: #363638;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  background-color:#d1c0f8;
  text-align: center;
  width: 100%;
}

#footer h5 {
  color: #fff;
  font-size: 1vw;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 1em;
}